.body {
    margin: 0;
    padding: 0;
  }
  
  #canvas {
    position: absolute;
    pointer-events: none;
  }

  mark.red {
    color:#ff0000;
    background: none;
    font-weight: bold;
  }

  mark.yellow-bright {
    color:#ffff01;
    background: none;
    font-weight: bold;
  }

  mark.yellow {
    color:#bdbd00;
    background: none;
    font-weight: bold;
  }

  mark.green {
    color:#00ce00;
    background: none;
    font-weight: bold;
  }

  mark.blue {
    color:#0000ff;
    background: none;
    font-weight: bold;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    font-family: "Helvetica";
    font-size: 1.1em;
    background-color: #6F809F;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: block;
  }

    #overlayContent {
      position: absolute;
      width: 70vw;
      left: 15vw;
      height: auto;
      min-height: 100%;
      background-color: #ffffff;
    }

      /* form styling */
      .roundedBox {
        padding: 2vh 2vw 2vh 2vw;
        background-color: rgb(211, 211, 211);  
        border-radius: 2vw;
        border: solid #666666 0.2vw;
        box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
      }

        .likert {
          list-style:none;
          width:100%;
          margin:0;
          padding:0 0 35px;
          display:block;
          border-bottom:2px solid #efefef;
        }

        .likert:last-of-type {border-bottom:0;}
        .likert:before {
          content: '';
          position:relative;
          top:12px;
          left:9.5%;
          display:block;
          background-color:#efefef;
          height:5px;
          width:78%;
        }
        
        .likert li {
          display:inline-block;
          width:19%;
          text-align:center;
          vertical-align: top;
        }

        .options-4 {
          width: 23.75% !important; /* width to take precedence if likert has 4 points instead of 5 */
        }

        form input[type=radio] {
          border: 0px;
          width: 1.1em;
          height: 1.1em;
        }

        .likert input[type=radio] {
          display:block;
          position:relative;
          top:0;
          left:50%;
          margin-left:-6px; 
        }

        .likert li label {
          width:100%;
          font-size: 0.9em;
          font-weight: 300;
        }

        .form-extra-label {
          margin-left: 5.5vw;
        }

        .form-extra-text {
          margin-left: 0.5vw; 
          width: 20vw;
        }

      .nextTaskInfo {
        opacity: 0;
      }

  /* All app sliders */
  .slider {
    -webkit-appearance: none;   /* Override default CSS styles */
    appearance: none;
  
    width: 100%;
    height: 25px;
    margin: 0.5vw 0;
    background: #d3d3d3;      /* Grey background */
    outline: none;              /* Remove outline */
    opacity: 0.8;               /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
    /* Slider Mouse-over effect */
    .slider:hover {
      opacity: 1;                 /* Fully shown on mouse-over */
    }
  
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
  
      padding-top: 4vh;          /* Positioning */
      margin-top: -0.8vw;
      width: 1.6vw;              /* Set a specific slider handle width */
      height: 2vw;               /* Slider handle height */
      box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
      border: 0.1vw solid #7e7e7e;
      border-radius: 0.9vw;
      background: #000000;    /* Black background */
      cursor: pointer;          /* Cursor on hover */
    }
  
    .slider::-moz-range-thumb {
      padding-top: 4vh;
      margin-top: -0.8vw;
      width: 1.6vw;             /* Set a specific slider handle width */
      height: 2vw;              /* Slider handle height */
      box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
      border: 0.1vw solid #7e7e7e;
      border-radius: 0.9vw;
      background: #000000;    /* Black background */
      cursor: pointer;          /* Cursor on hover */
    }
  
    /* Range tracks */
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.8vw;
      cursor: pointer;
      box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
      background: #505050;
      border-radius: 0.7vw;
      border: 0.05vw solid #010101;
    }
  
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #5d5d5d;
    }
  
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 0.8vw;
      cursor: pointer;
      box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
      background: #505050;
      border-radius: 0.7vw;
      border: 0.05vw solid #010101;
    }
  
  /* Container for 4 timbre sliders */
  .slidersUIContainer {
    position: fixed;
    width: 98%;
    height: 31%;
    left: 1%;
    top: 1.5%;
    border-radius: 2vw;
    border: solid #666666 0.2vw;
    box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
    /*background-color: #cfcfcf;
    opacity: 0.7;*/
  }
  
    /* Individual timbre slider containers */
    .spectrumslidecontainer {
      width: 23%;
      height: 28%;
      position: fixed;
      left: 2.5%;
      top: 2%;
      text-align: center;
      font-size: 150%;
    }
    .brightnessslidecontainer {
      width: 23%;
      height: 28%;
      position: fixed;
      left: 26.5%;
      top: 2%;
      text-align: center;
      font-size: 150%;
    }
    .articulationslidecontainer {
      width: 23%;
      height: 28%;
      position: fixed;
      left: 50.5%;
      top: 2%;
      text-align: center;
      font-size: 150%;
    }
    .envelopeslidecontainer {
      width: 23%;
      height: 28%;
      position: fixed;
      left: 74.5%;
      top: 2%;
      text-align: center;
      font-size: 150%;
    }
  
    /* Coloured accents behind timbre sliders */ 
    #specSlider {
      background: #FF0000;
      border-radius: 2vw;
      height: 7%;
    }
    #brigSlider {
      background: #FFFF00;
      border-radius: 2vw;
      height: 2.4vh;
    }
    #artiSlider {
      background: #00FF00;
      border-radius: 2vw;
      height: 2.4vh;
    }
    #enveSlider {
      background: #0000FF;
      border-radius: 2vw;
      height: 2.4vh;
    }

    .sliderTitle {
      width: auto;
      float: left;
      margin-left: 7.8vw;
      margin-right: 0.5em;
      text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color: #444444;
    }

    .valueBox {
      background-color: rgb(211, 211, 211);
      border: solid #66666666 0.2vw;
      border-radius: 0.3vw;
      width: 10%;
      height: 10%;
      float: left;
      text-align: center;
    }

    .valueText {
      margin: 0;
      font-size: 1.2vw;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    }
  
  /* Container for FFT canvas graph */
  .FFTUIContainer {
    position: fixed;
    width: 31%;
    height: 31%;
    left: 68%;
    top: 34%;
    border-radius: 2vw;
    border: solid #666666 0.2vw;
    box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
  }
  
  .pianoUIContainer {
    position: fixed;
    width: 31%;
    height: 12%;
    left: 68%;
    top: 66.5%;
    border-radius: 2vw;
    border: solid #666666 0.2vw;
    box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;  
  }
  
  .preset-volUIContainer {
    position: fixed;
    width: 31%;
    height: 11%;
    left: 68%;
    top: 80%;
    border-radius: 2vw;
    border: solid #666666 0.2vw;
    box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;  
  }
  
    .presetMenu {
      position: absolute;
      left: 5%;
      top: 1%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    select {
      height: 50%;
      border: 1px solid;
      border-radius: 0.25em;
      cursor: pointer;
    }
  
    #presetSubmit {
      cursor: pointer;
    }
  
    .volumeSliderContainer {
      position: absolute;
      top: 10%;
      left: 35%;
      width: 60%;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
      #voluSlider {
        background: #000000;
        border-radius: 2vw;
        height: 2.4vh;
      }
  
  
  #QMUL_logo {
    position: absolute;
    top: 93%;
    left: 86%;
    width: 12%;
    object-fit: cover;
    object-position: bottom;
  }
  
  #CDFM_logo {
    position: absolute;
    top: 94%;
    left: 70%;
    width: 15%;
    object-fit: cover;
    object-position: bottom;
  }

  #QMUL_logo_overlay {
    position: absolute;
    top: 2%;
    left: 70%;
    width: 12%;
  }
  
  #CDFM_logo_overlay {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 12%;
  }


  
  /* Styling for the bottom left container that updates dynamically */
  .taskUIContainer {
    position: absolute;
    top: 34%;
    left: 1%;
    width: 66.2%;
    height: 64%;
    overflow: auto;
    font-family: "Helvetica";
    font-size: 1.1em;

    border-radius: 0.5vw;
    border: solid #666666 0.2vw;
    box-shadow: 0.15vw 0.15vw 0.15vw #000000, 0vw 0vw 0.15vw #0d0d0d;
    background-color: rgb(211, 211, 211);  
  }

  /* Used for the pre-task views */
  .infoContainer {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 5vh;
    padding-top: 1vh;
  }

  ::-webkit-scrollbar {
    width: 0.8vw;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10vw;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10vw;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    
}
  
.nextButton {
  /* Animation from https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40 */
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 0.4vh, 0.4vh var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 2.7em;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2 0.2 0.2 0.2;
  color: #6F809F;
  text-align: center;
}
.nextButton:hover {
  --d: 1vh;
}

.nextText {
  color: #6F809F;
}

.submit-row {
  display: flex;
  justify-content: initial;
  width: 100%;
}

.submit-button {
  height: 2em;
  width: 5em;
  font-size: 1.05em;
  margin-right: 1em;
}

.submit-warning {
  display: flex;
  justify-content: center;
  opacity: 0;
  color: #d60000;
  border-radius: 0.5vw;
  border: solid #d60000 0.2vw;
  height: 2em;
}

/* Training Styling */
.instruction-holder {
  width: 100%;
  height: 6vh;
  margin: 0 auto;
  /*padding-bottom: 1vh;*/
  text-align: center;
  font-size: 1em;
}

.description-holder {
  height: 4em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.next-trial-container {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 20vw;
  background-color: #6F809F;
  color: white;
}

.warning {
  display: flex;
  justify-content: center;
  display: none;
  color: #d60000;
  border-radius: 0.5vw;
  border: solid #d60000 0.2vw;
  height: 2em;
}

/* Quiz Styling */
.question-holder {
  height: 5em;
  width: 45em;
  text-align: center;
  margin-right: 0px;
}

.intro {
  display: flex;
  justify-content: space-between;
  width: 12em;
  height: 7em;
  margin: 2vh 0;
}

.prefix {
  text-align: center;
  font-size: 1em;
}

.sound-holder {
  margin-right: 3em;
  margin-left: 3em;
}

.counter,
.score {
  text-align: center;
  margin: 0 1vw;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.answer-container {
  display: flex;
  flex-direction: initial;
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 31vw;
}

.answer-prefix {
  background-color: #6F809F;
  color: white;
  padding: 1.5em 2.1em;
  margin: 0; 
}

.answer-text {
  padding: 1.5em;
  width: 100%;
  margin: 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.15s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transform: translateY(0.1em);
  
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightpink;
}

/* 'Bingo' Styling */
.bingo-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bingo-answer-container {
  display: flex;
  flex-direction: initial;
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 12vw;
  height: 15vh;
  /*background-color: rgb(211, 211, 211);*/
}

.bingo-answer-prefix {
  background-color: #6F809F;
  color: white;
  padding: 1.5em 0.6em;
  width: 8%;
  margin: 0; 
}

.bingo-answer-text {
  padding: 1em;
  width: 100%;
  margin: 0;
}

/* Alternate answer prefix for third test */
.test3-answer-prefix {
  background-color: #6F809F;
  color: white;
  padding: 2.5em 0.4em;
  width: 2%;
  margin: 0; 
  /*padding-left: 1.5vw;*/
}

/* Modal Styling */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  font-family: Helvetica;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0;
  border: 1vw solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 0.5vw;
  border: solid #666666 0.2vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #ececec;
}

.modal-header {
  padding: 1vh 1.5vw;
  background-color: #435a86;;
  color: white;
}

.modal-body {
  padding: 0 1.5vw 1.5vw 1.5vw;
}